/* You can add global styles to this file, and also import other style files */
body{
  background-color: #ffc0eb;
  animation: bgColor 5s infinite linear;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

@keyframes bgColor {
  12.5% {
    background-color: #ffc0eb;
  }
  25% {
    background-color: #ff748c;
  }
  37.5% {
    background-color: #ffc0eb;
  }
  50% {
    background-color: #ff748c;
  }
  62.5% {
    background-color: #ffc0eb;
  }
  75% {
    background-color: #ff748c;
  }
  87.5% {
    background-color: #ffc0eb;
  }
  100% {
    background-color: #ff748c;
  }
}


.auto-item {
  border-radius: 10px;
  border-color: purple;
  border-width: 2px;
  border-style: solid;
  margin: 20px;
  margin-bottom: 50px;
}

.title_stuff{
  background-color: darkmagenta;
  padding: 5px;
  margin-top: 0px;
}

.content_stuff {
  text-align: left;
  padding-left: 20px;
}

.main-content{
  text-align: center;
  border-color: purple;
  border-width: 2px;
  border-radius: 10px;
  background-color: floralwhite;
  /*margin: auto;*/
  min-width: 400px;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
}

.all_content {
  display: grid;
  justify-content: center;
}

.button-submit{
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  box-shadow: none;
  margin: 4px;
  alignment: right;
}

.input-field{
  padding: 5px;
  border-radius: 5px;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  box-shadow: none;
  margin: 4px;
}
