.dashboard_div {
  position: fixed;
  bottom: 0;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.dashboard_element {
  padding: 10px;
  float: left;
}
