name: Run integration tests
on:
  push:
    branches: [ master ]
jobs:
  newman_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - run: sudo echo "127.0.0.1  postgres-k8s-service" >> /etc/hosts
    - uses: actions/setup-java@v1
      with:
        java-version: '11'
    - name: Set up Maven
      uses: stCarolas/setup-maven@v3
    - run: mvn package
    - name: Build the docker-compose stack
      run: docker-compose -f ./deployment/docker-compose-local.yml up -d
    - run: java -jar ./target/car-service-0.0.1-SNAPSHOT.jar &
    - run: sleep 20
    - uses: matt-ball/newman-action@master
      with:
        collection: ./src/test/newman/test_ulta_carservice.docker_compose.postman_collection.json
