name: Run integration tests
on:
  push:
    branches: [ master ]
jobs:
  newman_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Build the docker-compose stack
      run: cd ./deployment && docker-compose up -d
    - uses: matt-ball/newman-action@master
      with:
        collection: ./src/test/newman/test_ulta_carservice.docker_compose.postman_collection.json
