name: Run integration tests
on:
  push:
    branches: [ master ]
jobs:
  newman_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: cd ./src/main/angular && npm ci
    - run: cd ./src/main/angular && npm run test:ci
    - run: cd ./src/main/angular && npm run build:ci
    - run: mkdir ./target && mkdir ./target/angular && cp ./src/main/angular/dist/angular/* ./target/angular
    - uses: actions/setup-java@v1
      with:
        java-version: '11'
    - name: Set up Maven
      uses: stCarolas/setup-maven@v3
    - run: mvn package
    - name: Build the docker-compose stack
      run: cd ./deployment && docker-compose up -d
    - uses: matt-ball/newman-action@master
      with:
        collection: ./src/test/newman/test_ulta_carservice.docker_compose.postman_collection.json
